<div class="about-header">
    <h1>Welcome to Barber Application</h1>
    <p>Your perfect barbershop appointment, right at your fingertips.</p>
    <img src="assets/images9.jpeg" alt="Barber Shop" class="about-image">
  </div>
  <div class="about-content">
    <h2>About Us</h2>
    <p>
      At Barber Application, we revolutionize your grooming experience. With our easy-to-use platform, you can book an appointment in just a few clicks, whether you need a quick trim or a complete makeover.
    </p>
    <p>
      Our mission is to connect you with professional barbers who provide top-notch services in a comfortable and welcoming environment. We believe that your grooming experience should be seamless, enjoyable, and leave you feeling confident and refreshed.
    </p>
  </div>
  <div class="dashboard-btn">
    <button type="button" routerLink="/app-dashboard" class="dashboard-back">Back To Dashboard</button>
    <button type="button" routerLink="/app-signin" class="dashboard-signin">Sign In</button>
  </div>
  